[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc20-paymaster"]
	path = erc20-paymaster
	url = https://github.com/pimlicolabs/erc20-paymaster
[submodule "singleton-paymaster"]
	path = singleton-paymaster
	url = https://github.com/pimlicolabs/singleton-paymaster
